.header-greetings {
    padding-top: 4%;
    padding-left: 5%;
    font-size: 20px;
}

.header-information {
    padding-top: 3%;
}
.header-information-time {
    padding-left: 5%; 
}

.header-information div {
    float: left;
    margin-right: 30px;
    font-size: 20px;
}